[Desktop Entry]
Version=1.0
Name=NXBoost Core
Comment=NXBoost P2P Cryptocurrency
Comment[fr]=NXBoost, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NXBoost, eşten eşe kriptografik sanal para birimi
Exec=nxboost-qt %u
Terminal=false
Type=Application
Icon=nxboost128
MimeType=x-scheme-handler/nxboost;
Categories=Office;Finance;
StartupWMClass=NXBoost-qt
