policy_module(nxboost, 1.100.1)

########################################
#
# Declarations
#

type nxboost_t;
type nxboost_exec_t;
init_daemon_domain(nxboost_t, nxboost_exec_t)

permissive nxboost_t;

type nxboost_initrc_exec_t;
init_script_file(nxboost_initrc_exec_t)

type nxboost_conf_t;
files_type(nxboost_conf_t)

type nxboost_var_lib_t;
files_type(nxboost_var_lib_t)

type nxboost_var_run_t;
files_type(nxboost_var_run_t)

type nxboost_port_t;
corenet_port(nxboost_port_t)

########################################
#
# nxboost local policy
#
allow nxboost_t self:process { fork };

allow nxboost_t self:fifo_file rw_fifo_file_perms;
allow nxboost_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(nxboost_t, nxboost_conf_t, nxboost_conf_t)
manage_files_pattern(nxboost_t, nxboost_conf_t, nxboost_conf_t)

manage_dirs_pattern(nxboost_t, nxboost_var_lib_t, nxboost_var_lib_t)
manage_files_pattern(nxboost_t, nxboost_var_lib_t, nxboost_var_lib_t)
files_var_lib_filetrans(nxboost_t, nxboost_var_lib_t, { dir file })

manage_dirs_pattern(nxboost_t, nxboost_var_run_t, nxboost_var_run_t)
manage_files_pattern(nxboost_t, nxboost_var_run_t, nxboost_var_run_t)

sysnet_dns_name_resolve(nxboost_t)
corenet_all_recvfrom_unlabeled(nxboost_t)

allow nxboost_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(nxboost_t)
corenet_tcp_sendrecv_generic_node(nxboost_t)
corenet_tcp_sendrecv_all_ports(nxboost_t)
corenet_tcp_bind_generic_node(nxboost_t)

gen_require(`
    type nxboost_port_t;
')
allow nxboost_t nxboost_port_t:tcp_socket name_bind;

gen_require(`
    type nxboost_port_t;
')
allow nxboost_t nxboost_port_t:tcp_socket name_connect;

domain_use_interactive_fds(nxboost_t)

files_read_etc_files(nxboost_t)

miscfiles_read_localization(nxboost_t)

sysnet_dns_name_resolve(nxboost_t)

allow nxboost_t nxboost_exec_t:file execute_no_trans;
allow nxboost_t self:process setsched;
corecmd_exec_ls(nxboost_t)
corenet_tcp_connect_http_port(nxboost_t)
dev_read_urand(nxboost_t)
fs_getattr_xattr_fs(nxboost_t)
kernel_read_system_state(nxboost_t)
